<div id="footer-v6" class="footer-v6">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- 映象非洲 -->
        <div class="col-md-2 sm-margin-bottom-40">
          <div class="heading-footer"><h2>映象非洲</h2></div>
          <ul class="list-unstyled link-news">
            <li>
              <a href="#">團體行程</a>
            </li>
            <li>
              <a href="#">兩人成行</a>
            </li>
            <li>
                <a href="#">奢華品味玩</a>
            </li>
          </ul>
        </div>
        <!-- End 映象非洲 -->

        <!-- 樂遊快訊 -->
        <div class="col-md-2 sm-margin-bottom-40">
          <div class="heading-footer"><h2>樂遊快訊</h2></div>
          <ul class="list-unstyled footer-link-list">
            <li><a href="http://goo.gl/lY9x8v">關於我們</a></li>
            <li><a href="http://loyotkt.travel.net.tw/TN/EWL/TO/index.aspx?isMem=notlogin&amp;PopupURL=http://www.loyo.com.tw/eWeb/Member/Member.asp?inc=login">國際機票</a></li>
            <li><a href="/eweb_loyo/template/information03.asp">主題講座資訊</a></li>
            <li><a href="http://goo.gl/9VhEu4">優惠專區</a></li>
            <li><a href="http://goo.gl/7UZyLQ">台新銀行無限卡</a></li>
            <li><a href="http://goo.gl/virZET">活動消息</a></li>
            <li><a href="http://goo.gl/nVKLYd">連絡我們</a></li>
            <li><a href="/eWeb/Member/Member.asp">會員專區</a></li>
            <li><a href="http://loyo.voyage.com.tw/eWeb_loyo/ePaper/L_epaper.asp">電子報專區</a></li>
        </div>
        <!-- End 樂遊快訊 -->
      </div>
    </div><!--/container -->
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 color-light text-center">
           樂遊旅行社股份有限公司　台北市旅行商業同業公會會員(第6754號)　中華民國旅行業品質保障協會會員(第北1372號)　交觀甲字675400號
        </div>
        <div class="col-md-12 color-light text-center">
          公司地址：104台北市中山區南京東路三段21號2樓　電話：(02)2518-2323　傳真：(02)2501-0515　E-MAIL：service@loyo.com.tw
        </div>
        <div class="col-md-8 color-light" style="margin-top: 7px;">
          Copyright © 2014 Loyo Travel Co., Ltd. All Rights Reserved.
        </div>
        <div class="col-md-4">
          <a href="index.html">
            <img class="pull-right" src="assets/images/top_images/header_logo.png" alt="Logo" style="height: 30px;">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
