/* app.css */
.dark-page-header {
  border-bottom: none;
  background: rgba(0,0,0,0.4);
}
@media (max-width: 360px) {
  .header .logo img {
    width: 150px;
  }
}

.header.header-fixed-shrink .logo img:first-child {
  display: none;
}
.header:not(.header-fixed-shrink) .logo img:nth-child(2) {
  display: none;
}
.header:not(.header-fixed-shrink) .navbar-nav > li > a {
  color: white;
}
.header .navbar-collapse.collapse.in .nav.navbar-nav a {
  color: white;
}
/* blue */
.thumbnails .caption a {
  color: #3498db;
}
/* red */
.thumbnails .caption strong {
  color: #e74c3c;
}
@media (min-width: 992px) {
.thumbnails {
    min-height: 340px;
  }
}
@media (min-width: 992px) {
.thumbnail-kenburn img {
    height: 219px;
  }
}
