@charset "UTF-8";
@import "../components/navbar/navbar.scss";
@import "../components/gmap/gmap.scss";
@import "main/main.scss";
@import "NewZealand/NewZealand.scss";
@font-face {
  font-family: 'cwTeXMing';
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/cwTeXMing-zhonly.ttf);
}
/* app.css */
* {
  font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  font-size: 14px;
}
/*
@media (min-width: 992px) {
  .thumbnails {
    height: 340px;
  }
  .thumbnail-kenburn img {
    height: 219px;
  }
}
@media (max-width: 992px) {
  .thumbnail-kenburn img {
    width: 100%;
  }
  .social-icons li:hover a {
    background-position: 0 -38px;
  }
}
*/
.social_line {
  background: url(/assets/images/icons/line.png) no-repeat;
}

/* slide */
@media (min-width: 992px) {
  .slide-font-50 {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-40 {
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-32 {
    font-size: 32px;
    font-weight: 400;
    line-height: 60px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-30 {
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-25 {
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-23 {
    font-size: 23px;
    line-height: 30px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-20 {
    font-size: 20px;
    line-height: 30px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-padding-20 {
    padding: 20px 0;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .slide-font-50 {
    font-size: 40px;
    line-height: 50px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-40 {
    font-size: 30px;
    line-height: 50px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-32 {
    font-size: 25px;
    line-height: 50px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-30 {
    font-size: 23px;
    line-height: 40px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-25 {
    font-size: 20px;
    line-height: 40px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-23 {
    font-size: 18px;
    line-height: 20px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-20 {
    font-size: 15px;
    line-height: 20px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-padding-20 {
    padding: 12px 0;
  }
}
@media (max-width: 767px) {
  .slide-font-50 {
    font-size: 25px;
    line-height: 30px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-40 {
    font-size: 20px;
    line-height: 30px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-32 {
    font-size: 16px;
    line-height: 30px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-30 {
    font-size: 15px;
    line-height: 25px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-25 {
    font-size: 14px;
    line-height: 20px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-23 {
    font-size: 13px;
    line-height: 20px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-20 {
    font-size: 12px;
    line-height: 15px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-padding-20 {
    padding: 5px 0;
  }
}
.about-loyo-slider {
  z-index: 1;
  padding: 200px 0;
  position: relative;
  background: url(/assets/images/top_images/about_img.jpg) no-repeat;
  background-size: cover;
}
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}

$red: #e74c3c;
.color-bg-red {
  background-color: $red;
}
.production-page .panel-red .panel-body {
  background-color: rgba($red, 0.1);
}
.color-bg-red-alpha-7 {
  background-color: rgba($red, 0.7);
}
$orange: #e67e22;
.color-bg-orange {
  background-color: $orange;
}
.production-page .panel-orange .panel-body {
  background-color: rgba($orange, 0.1);
}
.color-bg-orange-alpha-7 {
  background-color: rgba($orange, 0.7);
}
$yellow: #f1c40f;
.color-bg-yellow {
  background-color: $yellow;
}
.production-page .panel-yellow .panel-body {
  background-color: rgba($yellow, 0.1);
}
.color-bg-yellow-alpha-7 {
  background-color: rgba($yellow, 0.7);
}
$green: #2ecc71;
.color-bg-green {
  background-color: $green;
}
.production-page .panel-green .panel-body {
  background-color: rgba($green, 0.1);
}
.color-bg-green-alpha-7 {
  background-color: rgba($green, 0.7);
}
$blue: #3498db;
.color-bg-blue {
  background: $blue;
}
.production-page .panel-blue .panel-body {
  background-color: rgba($blue, 0.1);
}
.color-bg-blue-alpha-7 {
  background-color: rgba($blue, 0.7);
}
$sea: #1abc9c;
.color-bg-sea {
  background-color: $sea;
}
.production-page .panel-sea .panel-body {
  background-color: rgba($sea, 0.1);
}
.color-bg-sea-alpha-7 {
  background-color: rgba($sea, 0.7);
}
$purple: #9b6bcc;
.color-bg-purple {
  background-color: $purple;
}
.production-page .panel-purple .panel-body {
  background-color: rgba($purple, 0.1);
}
.color-bg-purple-alpha-7 {
  background-color: rgba($purple, 0.7);
}
$grey: #95a5a6;
.color-bg-grey {
  background-color: $grey;
}
.production-page .panel-grey .panel-body {
  background-color: rgba($grey, 0.1);
}
.color-bg-grey-alpha-7 {
  background-color: rgba($grey, 0.7);
}
$light-grey: #f3f3f3;
.color-bg-light-grey {
  background-color: $light-grey;
}
.production-page .panel-light-grey .panel-body {
  background-color: rgba($light-grey, 0.1);
}
.color-bg-light-grey-alpha-7 {
  background-color: rgba($light-grey, 0.7);
}
$white: #fff;
.color-white {
  color: $white;
}
.color-bg-white {
  background-color: $white;
}
$black: #000;
.sidebar-nav-v1 li a.color-white:hover {
  color: $black;
}
.sidebar-nav-v1 .list-group-item {
  border-width: 0px;
}
/*Social Contacts v2*/
.profile .social-contacts-v2 {
  margin-bottom: 0;
}

.profile .social-contacts-v2 li {
  padding: 7px 0;
  border-top: 1px solid #c6c6c6;
}

.profile .social-contacts-v2 li:first-child {
  border-top: none;
}

.profile .social-contacts-v2 li i {
  font-size: 16px;
  min-width: 25px;
  margin-right: 7px;
  text-align: center;
  display: inline-block;
}

.profile .social-contacts-v2 li i.tw {
  color: #159ceb;
}
.profile .social-contacts-v2 li i.fb {
  color: #4862a3;
}
.profile .social-contacts-v2 li i.sk {
  color: #00aceb;
}
.profile .social-contacts-v2 li i.gp {
  color: #dc4a38;
}
.profile .social-contacts-v2 li i.gm {
  color: #c6574b;
}

.project-feature ul {
  display: inline-block;
}

.margin-top-20 {
  margin-top: 20px;
}
.margin-top-95 {
  margin-top: 95px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: $white;
}
.table-striped>tbody>tr:nth-of-type(even) {
  background-color: #cfcfcf;
}
a.carousel-control:hover {
  cursor: pointer;
}
