@charset "UTF-8";
@import "../components/navbar/navbar.scss";
@import "../components/gmap/gmap.scss";
@import "../components/editor/editor.scss";
@import "main/main.scss";
@import url(http://fonts.googleapis.com/earlyaccess/cwtexming.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexkai.css);
/* app.css */
$font-ming: 微軟正黑體, Microsoft YaHei, 微软雅黑, メイリオ, 맑은 고딕, Helvetica Neue, Helvetica, Arial, cwTeXMing, serif;

body {
  font-family: $font-ming;
  font-size: 14px;
}
/*
@media (min-width: 992px) {
  .thumbnails {
    height: 340px;
  }
  .thumbnail-kenburn img {
    height: 219px;
  }
}
@media (max-width: 992px) {
  .thumbnail-kenburn img {
    width: 100%;
  }
  .social-icons li:hover a {
    background-position: 0 -38px;
  }
}
*/

.carousel-inner > .item {
  > a >img, >img {
    width: 100%;
  }
}
.social_line {
  background: url(/assets/images/icons/line.png) no-repeat;
}

/* slide */
@media (min-width: 992px) {
  .slide-font-50 {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    font-family: $font-ming;
  }
  .slide-font-40 {
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    font-family: $font-ming;
  }
  .slide-font-32 {
    font-size: 32px;
    font-weight: 400;
    line-height: 60px;
    font-family: $font-ming;
  }
  .slide-font-30 {
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    font-family: $font-ming;
  }
  .slide-font-25 {
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    font-family: $font-ming;
  }
  .slide-font-23 {
    font-size: 23px;
    line-height: 30px;
    font-family: $font-ming;
  }
  .slide-font-20 {
    font-size: 20px;
    line-height: 30px;
    font-family: $font-ming;
  }
  .slide-padding-20 {
    padding: 20px 0;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .slide-font-50 {
    font-size: 40px;
    line-height: 50px;
    font-family: $font-ming;
  }
  .slide-font-40 {
    font-size: 30px;
    line-height: 50px;
    font-family: $font-ming;
  }
  .slide-font-32 {
    font-size: 25px;
    line-height: 50px;
    font-family: $font-ming;
  }
  .slide-font-30 {
    font-size: 23px;
    line-height: 40px;
    font-family: $font-ming;
  }
  .slide-font-25 {
    font-size: 20px;
    line-height: 40px;
    font-family: $font-ming;
  }
  .slide-font-23 {
    font-size: 18px;
    line-height: 20px;
    font-family: $font-ming;
  }
  .slide-font-20 {
    font-size: 15px;
    line-height: 20px;
    font-family: $font-ming;
  }
  .slide-padding-20 {
    padding: 12px 0;
  }
}
@media (max-width: 767px) {
  .slide-font-50 {
    font-size: 25px;
    line-height: 30px;
    font-family: $font-ming;
  }
  .slide-font-40 {
    font-size: 20px;
    line-height: 30px;
    font-family: $font-ming;
  }
  .slide-font-32 {
    font-size: 16px;
    line-height: 30px;
    font-family: $font-ming;
  }
  .slide-font-30 {
    font-size: 15px;
    line-height: 25px;
    font-family: $font-ming;
  }
  .slide-font-25 {
    font-size: 14px;
    line-height: 20px;
    font-family: $font-ming;
  }
  .slide-font-23 {
    font-size: 13px;
    line-height: 20px;
    font-family: $font-ming;
  }
  .slide-font-20 {
    font-size: 12px;
    line-height: 15px;
    font-family: $font-ming;
  }
  .slide-padding-20 {
    padding: 5px 0;
  }
}
.about-loyo-slider {
  z-index: 1;
  padding: 200px 0;
  position: relative;
  background: url(/assets/images/top_images/about_img.jpg) no-repeat;
  background-size: cover;
}
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}

$red: #e74c3c;
$orange: #e67e22;
$yellow: #f1c40f;
$green: #2ecc71;
$blue: #3498db;
$sea: #1abc9c;
$purple: #9b6bcc;
$grey: #95a5a6;
$light-grey: #f3f3f3;
$white: #fff;
$black: #000;
@each $name, $color in (red, $red), (orange, $orange), 
(yellow, $yellow), (green, $green), (blue, $blue), 
(sea, $sea), (purple, $purple), (grey, $grey),
(light-grey, $light-grey), (white, $white), (black, $black) {
  .color-bg-#{""+$name} {
    background-color: $color;
  }
  .production-page .panel-#{""+$name} .panel-body {
    background-color: rgba($color, 0.1);
  }
  .color-bg-#{""+$name}-alpha-7 {
    background-color: rgba($color, 0.7);
  }
  a.color-#{""+$name}-hover:hover {
    color: $color;
  }
  .sidebar-nav-v1 li a.color-#{""+$name}-hover:hover {
    background: rgba($color, 0.1);
  }
}
.modal-body.details {
  .nav.nav-tabs li.active a {
    background-color: rgba($green, 0.1);
  }
  background-color: rgba($green, 0.1);
}
.color-table-header {
  background: linear-gradient(#fff, rgba($orange, 0.5));
}
a.color-green-hover i.color-green {
  color: $green;
}
.menu-icons .search.search-close.fa-times + .search-open {
  background: #fffbe9;
  border-bottom: 1px solid #eee;
}
/*Social Contacts v2*/
.profile .social-contacts-v2 {
  margin-bottom: 0;
}

.profile .social-contacts-v2 li {
  padding: 7px 0;
  border-top: 1px solid #c6c6c6;
}

.profile .social-contacts-v2 li:first-child {
  border-top: none;
}

.profile .social-contacts-v2 li i {
  font-size: 16px;
  min-width: 25px;
  margin-right: 7px;
  text-align: center;
  display: inline-block;
}

.profile .social-contacts-v2 li i.tw {
  color: #159ceb;
}
.profile .social-contacts-v2 li i.fb {
  color: #4862a3;
}
.profile .social-contacts-v2 li i.sk {
  color: #00aceb;
}
.profile .social-contacts-v2 li i.gp {
  color: #dc4a38;
}
.profile .social-contacts-v2 li i.gm {
  color: #c6574b;
}

.project-detail ul {
  display: inline-block;
}

.margin-top-20 {
  margin-top: 20px;
}
.margin-top-95 {
  margin-top: 95px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: $white;
}
.table-striped>tbody>tr:nth-of-type(even) {
  background-color: #cfcfcf;
}
a.carousel-control:hover {
  cursor: pointer;
}
div.slide-title {
  font-weight: bold;
}

div.left-slide-bar {
  position: fixed;
  padding-right: 0px;
  margin-top: 220px;
}
ul.sub-left-slide-bar {
  overflow-y: auto;
}
.timeline-title {
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-top: 0px;
}
$font-kai: 標楷體, cwTeXKai, serif;
.font-kai-16 {
  font-family: $font-kai;
  font-size: 16px;
}
.font-kai {
  font-family: $font-kai;
}
@page {
  size: A4;
}
@media print {
  .left-slide-bar, .footer {
    display: none;
  }
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
form[name=imageForm] input.ng-invalid {
  border: 2px solid $red;
}
.upload-image .owl-carousel .item {
  margin: 3px;
  & a {
    display: block;
  }
  & img {
    display: block;
    width: 100%;
    height: auto;
  }
  & span {
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

.fa-kai:before {
  content: "楷";
}
.fa-ming:before {
  content: "明";
}

.summernote-font-kai-16 .note-editing-area {
  font-family: $font-kai;
  font-size: 16px;
}

$screen-width: 1300px, 1400px, 1500px, 1600px, 1700px;
@each $width in $screen-width {
  @media (min-width: $width) {
    .container {
      width: $width - 30px;
    }
  }
}
.modal-body.feature .panel-body {
  background-color: rgba($orange, 0.1);
}
.modal-body.specialize .panel-body {
  background-color: rgba($yellow, 0.1);
}
.modal-body.airplanes {
  background-color: rgba($blue, 0.1);
}
.project-detail .timeline-body h3 {
  color: #00AA55;
}
.header-v6.header-fixed-shrink .sign-in:hover .sign-in-open {
    top: 70px;
}
.header-v6 .sign-in:hover .sign-in-open {
    display: block;
}
.header-v6 .sign-in .sign-in-open {
    border-top-color: #e74c3c !important;
}
.header-v6 .sign-in .sign-in-open {
    right: 0;
    top: 94px;
    padding: 15px;
    display: none;
    min-width: 250px;
    background: #fff;
    position: absolute;
    border: 1px solid #e7e7e7;
    border-top: 2px solid #72c02c;
}

/*Registration and Login Page v1
------------------------------------*/
.reg-page {
    color: #555;
    padding: 30px;
    background: #fefefe;
    border: solid 1px #eee;
    box-shadow: 0 0 3px #eee;
}

/*Reg Header*/
.reg-header {
    color: #555;
    text-align: center;
    margin-bottom: 35px;
    border-bottom: solid 1px #eee;
}

.reg-header h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

/*Reg Forms*/
.reg-page label {
    color: #777;
}
