/* app.css */
.dark-page-header {
  border-bottom: none;
  background: rgba(0,0,0,0.4);
}
@media (max-width: 360px) {
  .header .logo img {
    width: 150px;
  }
}
@media (max-width: 459px) {
  .header .topbar ul.loginbar > li {
    display: block;
    padding-bottom: 0px;
  }
}
.header .topbar ul.loginbar > li > a, .header .topbar ul.loginbar > li > a:hover {
  color: white;
}

.header.header-fixed-shrink .logo img:first-child {
  display: none;
}
.header:not(.header-fixed-shrink) .logo img:nth-child(2) {
  display: none;
}
.header:not(.header-fixed-shrink) .navbar-nav > li > a {
  color: white;
}
.header:not(.header-fixed-shrink) .navbar-nav > li:hover > a {
  color: #e74c3c;
}
.header .navbar-collapse.collapse.in .nav.navbar-nav a {
  color: white;
}
/* blue */
.thumbnails .caption a {
  color: #3498db;
}
/* red */
.thumbnails .caption strong {
  color: #e74c3c;
}
@media (min-width: 992px) {
  .thumbnails {
    height: 340px;
  }
  .thumbnail-kenburn img {
    height: 219px;
  }
}
@media (max-width: 992px) {
  .thumbnail-kenburn img {
    width: 100%;
  }
  .social-icons li:hover a {
    background-position: 0 -38px;
  }
}
.social_line {
  background: url(/assets/images/icons/line.png) no-repeat;
}
