@charset "UTF-8";
@import "../components/navbar/navbar.scss";
@import "../components/gmap/gmap.scss";
@import "main/main.scss";
@import "NewZealand/NewZealand.scss";
@font-face {
  font-family: 'cwTeXMing';
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/cwTeXMing-zhonly.ttf);
}
/* app.css */
* {
  font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  font-size: 14px;
}
/*
@media (min-width: 992px) {
  .thumbnails {
    height: 340px;
  }
  .thumbnail-kenburn img {
    height: 219px;
  }
}
@media (max-width: 992px) {
  .thumbnail-kenburn img {
    width: 100%;
  }
  .social-icons li:hover a {
    background-position: 0 -38px;
  }
}
*/
.social_line {
  background: url(/assets/images/icons/line.png) no-repeat;
}

/* slide */
@media (min-width: 992px) {
  .slide-font-50 {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-40 {
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-32 {
    font-size: 32px;
    font-weight: 400;
    line-height: 60px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-30 {
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-25 {
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-23 {
    font-size: 23px;
    line-height: 30px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-20 {
    font-size: 20px;
    line-height: 30px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-padding-20 {
    padding: 20px 0;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .slide-font-50 {
    font-size: 40px;
    line-height: 50px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-40 {
    font-size: 30px;
    line-height: 50px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-32 {
    font-size: 25px;
    line-height: 50px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-30 {
    font-size: 23px;
    line-height: 40px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-25 {
    font-size: 20px;
    line-height: 40px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-23 {
    font-size: 18px;
    line-height: 20px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-20 {
    font-size: 15px;
    line-height: 20px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-padding-20 {
    padding: 12px 0;
  }
}
@media (max-width: 767px) {
  .slide-font-50 {
    font-size: 25px;
    line-height: 30px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-40 {
    font-size: 20px;
    line-height: 30px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-32 {
    font-size: 16px;
    line-height: 30px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-30 {
    font-size: 15px;
    line-height: 25px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-25 {
    font-size: 14px;
    line-height: 20px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-23 {
    font-size: 13px;
    line-height: 20px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-font-20 {
    font-size: 12px;
    line-height: 15px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXMing, serif;
  }
  .slide-padding-20 {
    padding: 5px 0;
  }
}
.about-loyo-slider {
  z-index: 1;
  padding: 200px 0;
  position: relative;
  background: url(/assets/images/top_images/about_img.jpg) no-repeat;
  background-size: cover;
}
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}

$red: #e74c3c;
$orange: #e67e22;
$yellow: #f1c40f;
$green: #2ecc71;
$blue: #3498db;
$sea: #1abc9c;
$purple: #9b6bcc;
$grey: #95a5a6;
$light-grey: #f3f3f3;
$white: #fff;
$black: #000;
@each $name, $color in (red, $red), (orange, $orange), 
(yellow, $yellow), (green, $green), (blue, $blue), 
(sea, $sea), (purple, $purple), (grey, $grey),
(light-grey, $light-grey), (white, $white), (black, $black) {
  .color-bg-#{$name} {
    background-color: $color;
  }
  .production-page .panel-#{$name} .panel-body {
    background-color: rgba($color, 0.1);
  }
  .color-bg-#{$name}-alpha-7 {
    background-color: rgba($color, 0.7);
  }
  a.color-#{$name}-hover:hover {
    color: $color;
  }
  .sidebar-nav-v1 li a.color-#{$name}-hover:hover {
    background: rgba($color, 0.1);
  }
}
.color-table-header {
  background: linear-gradient(#fff, rgba($orange, 0.5));
}
a.color-green-hover i.color-green {
  color: $green;
}
.menu-icons .search.search-close.fa-times + .search-open {
  background: #fffbe9;
  border-bottom: 1px solid #eee;
}
/*Social Contacts v2*/
.profile .social-contacts-v2 {
  margin-bottom: 0;
}

.profile .social-contacts-v2 li {
  padding: 7px 0;
  border-top: 1px solid #c6c6c6;
}

.profile .social-contacts-v2 li:first-child {
  border-top: none;
}

.profile .social-contacts-v2 li i {
  font-size: 16px;
  min-width: 25px;
  margin-right: 7px;
  text-align: center;
  display: inline-block;
}

.profile .social-contacts-v2 li i.tw {
  color: #159ceb;
}
.profile .social-contacts-v2 li i.fb {
  color: #4862a3;
}
.profile .social-contacts-v2 li i.sk {
  color: #00aceb;
}
.profile .social-contacts-v2 li i.gp {
  color: #dc4a38;
}
.profile .social-contacts-v2 li i.gm {
  color: #c6574b;
}

.project-detail ul {
  display: inline-block;
}

.margin-top-20 {
  margin-top: 20px;
}
.margin-top-95 {
  margin-top: 95px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: $white;
}
.table-striped>tbody>tr:nth-of-type(even) {
  background-color: #cfcfcf;
}
a.carousel-control:hover {
  cursor: pointer;
}
div.slide-title {
  font-weight: bold;
}

div.left-slide-bar {
  position: fixed;
  overflow-y: scroll;
  padding-right: 0px;
}
