/* app.css */
.twFont {
  font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
}
* {
  font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  font-size: 14px;
  line-height: 25px;
}
/*
.dark-page-header {
  border-bottom: none;
  background: rgba(0,0,0,1);
}
.diamond {
  width: 0; 
  height: 0; 
  border: 50px solid transparent; 
  border-bottom-color: red; 
  position: relative; 
  top: -50px; 
} 
.diamond:after { 
  content: ''; 
  position: absolute; 
  left: -50px; 
  top: 50px; 
  width: 0; 
  height: 0; 
  border: 50px solid transparent; 
  border-top-color: red;
}
*/
@media (max-width: 360px) {
  .header-v6 .navbar-brand img.shrink-logo {
    width: 150px;
  }
}
/*
@media (max-width: 459px) {
  .header .topbar ul.loginbar > li {
    display: block;
    padding-bottom: 0px;
  }
}
.header .topbar ul.loginbar > li > a, .header .topbar ul.loginbar > li > a:hover {
  color: white;
}

.header.header-fixed-shrink .logo img:first-child {
  display: none;
}
.header:not(.header-fixed-shrink) .logo img:nth-child(2) {
  display: none;
}
.header:not(.header-fixed-shrink) .navbar-nav > li > a {
  color: white;
}
.header:not(.header-fixed-shrink) .navbar-nav > li:hover > a {
  color: #e74c3c;
}
.header .navbar-collapse.collapse.in .nav.navbar-nav a {
  color: white;
}
*/
/* blue */
.thumbnails .caption a {
  color: #3498db;
}
/* red */
.thumbnails .caption strong {
  color: #e74c3c;
}
@media (min-width: 992px) {
  .thumbnails {
    height: 340px;
  }
  .thumbnail-kenburn img {
    height: 219px;
  }
}
@media (max-width: 992px) {
  .thumbnail-kenburn img {
    width: 100%;
  }
  .social-icons li:hover a {
    background-position: 0 -38px;
  }
}
.social_line {
  background: url(/assets/images/icons/line.png) no-repeat;
}

@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}
/* slide */
@media (min-width: 992px) {
  .slide-font-50 {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-40 {
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-32 {
    font-size: 32px;
    font-weight: 400;
    line-height: 60px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-30 {
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-25 {
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-23 {
    font-size: 23px;
    line-height: 30px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-20 {
    font-size: 20px;
    line-height: 30px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-padding-20 {
    padding: 20px 0;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .slide-font-50 {
    font-size: 40px;
    line-height: 50px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-40 {
    font-size: 30px;
    line-height: 50px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-32 {
    font-size: 25px;
    line-height: 50px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-30 {
    font-size: 23px;
    line-height: 40px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-25 {
    font-size: 20px;
    line-height: 40px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-23 {
    font-size: 18px;
    line-height: 20px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-20 {
    font-size: 15px;
    line-height: 20px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-padding-20 {
    padding: 12px 0;
  }
}
@media (max-width: 767px) {
  .slide-font-50 {
    font-size: 25px;
    line-height: 30px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-40 {
    font-size: 20px;
    line-height: 30px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-32 {
    font-size: 16px;
    line-height: 30px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-30 {
    font-size: 15px;
    line-height: 25px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-25 {
    font-size: 14px;
    line-height: 20px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-23 {
    font-size: 13px;
    line-height: 20px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-font-20 {
    font-size: 12px;
    line-height: 15px;
    font-family: '微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'メイリオ', '맑은 고딕', 'Helvetica Neue', Helvetica, Arial, cwTeXHei, serif;
  }
  .slide-padding-20 {
    padding: 5px 0;
  }
}
