<div class="header header-sticky dark-page-header" ng-controller="NavbarCtrl">
  <div class="container">
    <!-- Logo -->
    <a class="logo" href="/">
      <img src="assets/images/top_images/header_logo.png" alt="Logo">
    </a>
    <a class="logo logo-fixed" href="/">
      <img src="assets/images/top_images/header_logo-black.png" alt="Logo">
    </a>
    <!-- End Logo -->
    <!--phone
      <div class="top-contact-block">
        <i class="fa fa-phone fa-1"></i> <a href="tel:02 2518 2323">(02) 2518 2323</a>
      </div>
    -->

    <!-- Topbar -->
    <div class="topbar">
      <ul class="loginbar pull-right">
        <li class="hoverSelector">
            <i class="fa fa-globe"></i>
            <a>Languages</a>
            <ul class="languages hoverSelectorBlock">
                <li class="active">
                    <a href="#">English <i class="fa fa-check"></i></a>
                </li>
                <li><a href="#">Spanish</a></li>
                <li><a href="#">Russian</a></li>
                <li><a href="#">German</a></li>
            </ul>
        </li>
        <li class="topbar-devider"></li>
        <li><a href="page_faq.html">Help</a></li>
        <li class="topbar-devider"></li>
        <li><a href="page_login.html">Login</a></li>
      </ul>
    </div>
    <!-- End Topbar -->

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <!-- Home -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Home
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html">Option 1: Default Page</a></li>
                        <li><a href="page_home6.html">Option 12: Home Magazine</a></li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);">Option 13: Home Sidebar</a>
                            <ul class="dropdown-menu">
                                <li><a href="page_home12.html">- Home Left Sidebar</a></li>
                                <li><a href="page_home13.html">- Home Right Sidebar</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- End Home -->

                <!-- Pages -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Pages
                    </a>
                    <ul class="dropdown-menu">
                        <!-- About Pages -->
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);">About Pages</a>
                            <ul class="dropdown-menu">
                                <li><a href="page_about2.html">About Us </a></li>
                                <li><a href="page_about1.html">About Us 2</a></li>
                            </ul>
                        </li>
                        <!-- End About Pages -->

                        <!-- Service Pages -->
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);">Service Pages</a>
                            <ul class="dropdown-menu">
                                <li><a href="page_services.html">Our Services</a></li>
                                <li><a href="page_services3.html">Our Services 3</a></li>
                            </ul>
                        </li>
                        <!-- End Service Pages -->
                    </ul>
                </li>
                <!-- End Pages -->
            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>
    <!--
<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">loyo</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
-->
