<div header-fixed-shrink class="header header-sticky dark-page-header" ng-controller="NavbarCtrl">
  <div class="container">
    <!-- Logo -->
    <a class="logo" href="/">
      <img src="assets/images/top_images/header_logo.png" alt="Logo">
      <img src="assets/images/top_images/header_logo-black.png" alt="Logo">
    </a>
    <!-- End Logo -->
    <!--phone
    <div class="top-contact-block">
      <i class="fa fa-phone fa-1"></i> <a href="tel:02 2518 2323">(02) 2518 2323</a>
    </div>
    -->

    <!-- Topbar -->
    <div class="topbar">
      <ul class="loginbar pull-right">
        <li>
          <i class="fa fa-heart"></i>
          <a href="#">特別專題</a>
        </li>
        <li class="topbar-devider"></li>
        <li>
          <i class="fa fa-plane"></i>
          <a href="page_faq.html">國際機票</a>
        </li>
        <li class="topbar-devider"></li>
        <li>
          <i class="fa fa-comment"></i>
          <a href="page_login.html">講座資訊</a>
        </li>
        <li class="topbar-devider"></li>
        <li>
          <a href="page_login.html">台新無限卡</a>
        </li>
      </ul>
    </div>
    <!-- End Topbar -->

    <!-- Toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="fa fa-bars"></span>
    </button>
    <!-- End Toggle -->
  </div><!--/end container-->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse" collapse="isCollapsed">
    <div class="container">
      <ul class="nav navbar-nav">
        <!-- Home -->
        <li>
          <a href="#">關於我們</a>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              我愛紐西蘭
            </a>
            <ul class="dropdown-menu">
                <li><a href="index.html">Option 1: Default Page</a></li>
                <li><a href="page_home6.html">Option 12: Home Magazine</a></li>
                <li class="dropdown-submenu">
                    <a href="javascript:void(0);">Option 13: Home Sidebar</a>
                    <ul class="dropdown-menu">
                        <li><a href="page_home12.html">- Home Left Sidebar</a></li>
                        <li><a href="page_home13.html">- Home Right Sidebar</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <!-- End Home -->

        <!-- Pages -->
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                映像非洲
            </a>
            <ul class="dropdown-menu">
                <!-- About Pages -->
                <li class="dropdown-submenu">
                    <a href="javascript:void(0);">About Pages</a>
                    <ul class="dropdown-menu">
                        <li><a href="page_about2.html">About Us </a></li>
                        <li><a href="page_about1.html">About Us 2</a></li>
                    </ul>
                </li>
                <!-- End About Pages -->

                <!-- Service Pages -->
                <li class="dropdown-submenu">
                    <a href="javascript:void(0);">Service Pages</a>
                    <ul class="dropdown-menu">
                        <li><a href="page_services.html">Our Services</a></li>
                        <li><a href="page_services3.html">Our Services 3</a></li>
                    </ul>
                </li>
                <!-- End Service Pages -->
            </ul>
        </li>
        <!-- End Pages -->
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                歐洲館
            </a>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                中東館
            </a>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                南極館
            </a>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                日本館
            </a>
        </li>
      </ul>
    </div><!--/end container-->
  </div><!--/navbar-collapse-->
</div>
