.header-v6 .navbar-brand img {
  width: 142px;
}
.menu-container .nav.navbar-nav li > a {
  font-size: 15px;
}
.menu-icons .search.search-close {
  & + .search-open {
    opacity: 0;
    display: block;
    visibility: hidden;
    transition: visibility 0s linear 0.5s,opacity 0.5s linear; 
    height: 94px;
    @media (max-width: 767px) {
      height: 250px;
    }
  }
  &.fa-times + .search-open {
    opacity: 1;
    visibility: visible;
    transition-delay:0s;
  }
  &.fa-times {
    @media (max-width: 992px) {
      position: fixed;
      right: 10px;
      top: 5px;
    }
    @media (max-width: 767px) {
      top: -29px;
    }
  }
}
.header-v6 .search-open {
  .form-group {
    margin-left: 15px;
    .input-group {
      margin-bottom: 10px;
    }
    button {
      top: 23px;
    }
    .search .input-group-addon {
      background-color: #e74c3c;
      color: #fff;
      border-color: #e74c3c;
      cursor: pointer;
      &:hover {
        background-color: #c0392b;
      }
    }
  }
  .form-control {
    font-size: 15px;
    padding: 0 15px 0 10px;
    border: 1px solid #ccc;
    height: 30px;
    &:hover, &:active, &:focus {
      border: 1px solid #ccc;
    }
  }
  .bootstrap-datetimepicker-widget {
    table td.disabled, table td.disabled:hover {
      color: #e9e9e9;
    }
  }
}
@media (min-width: 992px) {
  .header-v6 {
    .bootstrap-datetimepicker-widget {
      &.dropdown-menu li a {
        padding: 6px 0;
      }
    }
  }
  .header-fixed .header-v6.header-fixed-shrink {
    .search-open {
      padding-bottom: 0px;
      .form-group {
        margin-left: 15px;
        .input-group {
          margin-bottom: 10px;
        }
      }
      .form-control {
        height: 30px;
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 350px) {
  .header-v6 {
    .header-inner-right {
      float: inherit;
      padding-left: 20px;
      position: absolute;
      right: 50px;
      display: block;
    }
  }
  .navbar-brand img.shrink-logo {
    width: 150px;
  }
}
