
.header-fixed {
  .shift-top .container {
    margin-top: 90px;
  }
}
[ag-grid] {
  margin: 20px auto 50px auto;
  max-height: 900px;
  .ag-body-container .ag-cell {
    padding-top: 9px;
  }
  &.ag-blue {
    .ag-cell-no-focus,.ag-cell-focus {
      border-right: 1px dotted #9bc2e6;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-bottom: 1px solid #9bc2e6;
      background-color: inherit;
    }
    .ag-row-selected {
      background-color: #afbdff;
    }
  }
}

.homepage-container {
  width: 100%;
}
.masonry-3col.grid {
  margin-left: 15px;
  .grid-item-width, .grid-item-width2 {
    padding: 0;
    margin-bottom: 30px;
    border: solid 1px #eee;
    .thumbnail-style {
      img {
        width: 100%;
      } 
      margin-bottom: 0px;
    }
  }
  .grid-sizer, .grid-item, .fb-item-width { 
    @media (min-width: 992px) {
      width: 31%; 
    }
    @media (max-width: 991px) and (min-width: 768px) {
      width: 46%; 
    }
    @media (max-width: 767px) {
      width: 92%;
    }
  }
  .grid-item-width2 { 
    @media (min-width: 992px) {
      width: 62%; 
    }
    @media (max-width: 991px) and (min-width: 768px) {
      width: 92%; 
    }
    @media (max-width: 767px) {
      width: 92%;
    }
  }
}
.masonry-2col.grid {
  margin-left: 15px;
  .grid-item-width, .grid-item-width2 {
    padding: 0;
    margin-bottom: 30px;
    border: solid 1px #eee;
    .thumbnail-style {
      img {
        width: 100%;
      } 
      margin-bottom: 0px;
    }
  }
  .grid-sizer, .grid-item, .fb-item-width { 
    @media (min-width: 992px) {
      width: 48%; 
    }
    @media (max-width: 991px) {
      width: 96%;
    }
  }
  .grid-item-width2 { 
    width: 96%; 
  }
}
.masonry-1col.grid {
  .grid-item-width, .grid-item-width2 {
    padding: 0;
    margin-bottom: 30px;
    border: solid 1px #eee;
    .thumbnail-style {
      img {
        width: 100%;
      } 
      margin-bottom: 0px;
    }
  }
  .grid-sizer, .grid-item, .fb-item-width { 
    width: 92%;
  }
  .grid-item-width2 { 
    width: 92%; 
  }
}
.thumbnails {
  .caption {
    /* blue */
    a {
      color: #3498db;
    }
    /* red */
    strong {
      color: #e74c3c;
    }
  }
  h3.fb {
    display: inline-block;
    width: 100%;
  }
  .fb-post-time {
    float: right;
    color: #949aa5;
    font-size: 13px;
  }
  a.fb-like {
    background-color: rgba(255, 255, 255, 0);
    i {
      background-color: #4e69a2;
    }
    &:hover {
      box-shadow: none;
    }
  }
}
