<div class="col-md-3 left-slide-bar">
  <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
    <li class="list-group-item">
      <a href="#intro" class="color-red-hover"><i class="fa fa-tasks color-red"></i> 簡介</a>
    </li>
    <li class="list-group-item">
      <a href="#feature" class="color-orange-hover"><i class="fa fa-tasks color-orange"></i> 行程特色</a>
    </li>
    <li class="list-group-item">
      <a href="#specialize" class="color-yellow-hover"><i class="fa fa-tasks color-yellow"></i> 特別安排</a>
    </li>
    <li class="list-group-item">
      <a href="#detail" ng-click="isCollapsed = !isCollapsed" class="color-green-hover"><i class="fa fa-tasks color-green"></i> 行程內容</a>
      <ul collapse="isCollapsed" style="height: 0px;">
        <li ng-repeat="detail in details">
          <a href="#detail-{{::$index}}">
            <span style="font-size: 14px; font-weight: bold; margin-right: 7px;">{{::detail.date}}</span> {{::detail.title}} 
          </a>
        </li>
      </ul>
    </li>
    <li class="list-group-item">
      <a href="#airplane" class="color-blue-hover"><i class="fa fa-tasks color-blue"></i> 航班參考</a>
    </li>
    <li class="list-group-item">
      <a href="#production" class="color-purple-hover"><i class="fa fa-tasks color-purple"></i> 出團資訊及報名</a>
    </li>
  </ul>
</div>
<div class="breadcrumbs breadcrumbs-light shift-top">
  <div class="container">
    <h1 class="pull-left">{{::intro.title}}</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="index.html">首頁</a></li>
      <li><a href="">紐西蘭</a></li>
      <li class="active">南島深度遊12天</li>
    </ul>
  </div>
</div>
<section class="container production-page margin-top-20">
  <div class="row">
    <!--div gmap-loyo="map"></div-->
    <div class="col-md-offset-3 col-md-9">
      <div class="panel panel-red">
        <div class="panel-heading" id="intro">
          <h3 class="panel-title"><i class="fa fa-tasks"></i>簡介
            <editor bind="intro" class="pull-right" 
                template-url="components/editor/intro-editor-modal.html"
                title="簡介"
                url="api/pages/intro">
            </editor>
          </h3>
        </div>
        <div class="panel-body profile">
          <ul class="list-unstyled social-contacts-v2">
            <li class="color-red">團費售價：{{::intro.price}}</li>
            <li>旅遊國家：{{::intro.location}}</li>
            <li>旅遊城市：{{::intro.city}}</li>
            <li>旅遊天數：{{::intro.days}}</li>
            <li>航空公司：{{::intro.airplane}}</li>
          </ul>
        </div>
      </div>
      <div class="panel panel-orange">
        <div class="panel-heading" id="feature">
          <h3 class="panel-title"><i class="fa fa-tasks"></i>行程特色
            <editor bind="feature" class="pull-right" 
                template-url="components/editor/editor-summernote-modal.html"
                title="行程特色"
                url="api/pages/feature">
            </editor>
          </h3>
        </div>
        <div class="panel-body" style="padding: 0px;" ng-bind-html="feature"></div>
      </div>
      <div class="panel panel-yellow">
        <div class="panel-heading" id="specialize">
          <h3 class="panel-title"><i class="fa fa-tasks"></i>特別安排
            <editor bind="specialize" class="pull-right" 
                template-url="components/editor/editor-summernote-modal.html"
                title="特別安排"
                url="api/pages/specialize">
            </editor>
          </h3>
        </div>
        <div class="panel-body" style="padding: 0px;" ng-bind-html="specialize">
        </div>
      </div>
      <div class="panel panel-green project-detail">
        <div class="panel-heading" id="detail">
          <h3 class="panel-title"><i class="fa fa-tasks"></i>行程內容
            <editor bind="detail" class="pull-right" 
                template-url="components/editor/detail-editor-modal.html"
                title="行程內容"
                url="api/pages/detail">
            </editor>
          </h3>
        </div>
        <div class="panel-body">
          <ul class="timeline-v1">
            <li ng-repeat="detail in details" ng-class-even="'timeline-inverted'">
              <div class="timeline-badge primary" id="detail-{{::$index}}">
                <i class="glyphicon glyphicon-record"></i>
              </div>
              <div class="timeline-panel color-bg-white">
                <h4 class="timeline-title"> {{::detail.date}} </h4>
                <div class="timeline-heading">
                  <carousel interval="5000" no-wrap="false" template-url="template/carousel/carousel-no-indicators.html">
                    <slide ng-repeat="slide in detail.slides">
                      <img class="img-responsive" ng-src="{{::slide.src}}">
                      <div class="carousel-caption">{{::slide.title}}</div>
                    </slide>
                  </carousel>
                </div>
                <div class="timeline-body text-justify">
                  <h2>{{::detail.title}}</h2>
                  <div class="font-kai-inner-16" ng-bind-html="detail.context"></div>
                </div>
                <div class="timeline-footer">
                  <ul class="list-unstyled">
                    <li>
                      <i class="fa-fw fa fa-bed"></i> {{::detail.hotel}}
                    </li>
                    <li>
                      <i class="fa fa-cutlery"></i>
                      <i class="fa fa-sun-o color-yellow"></i> <span>{{::detail.breakfast}}</span> 
                      <i class="fa fa-sun-o color-red"></i> <span> {{::detail.lunch}} </span>
                      <i class="fa fa-moon-o color-blue"></i> <span> {{::detail.dinner}} </span>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-blue">
        <div class="panel-heading" id="airplane">
          <h3 class="panel-title"><i class="fa fa-tasks"></i>航班參考
            <editor bind="airplane" class="pull-right" 
                template-url="components/editor/airplane-editor-modal.html"
                title="航班參考"
                url="api/pages/airplane">
            </editor>
          </h3>
        </div>
        <div class="panel-body">
          <p>* 以下為本行程預定的航班時間，實際航班以團體確認的航班編號與飛行時間為準。</p>
          <p>* 因應國際油價波動，航空公司隨機票所增收燃油附加費用，會隨國際油價而有所調整。</p>
          <div class="table-responsive">
            <table class="table">
              <thead class="font-kai-inner-16">
                <tr>
                  <th>#</th>
                  <th>天數</th>
                  <th>起飛城市</th>
                  <th>抵達城市</th>
                  <th>出發/抵達時間</th>
                  <th>航空公司</th>
                  <th>航班編號</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="airplane in airplanes">
                  <td ng-if="airplane.first" rowspan="{{::airplane.itemNum}}">{{::airplan.index+1}}</td>
                  <td>{{::airplane.day}}</td>
                  <td>{{::airplane.from}}</td>
                  <td>{{::airplane.to}}</td>
                  <td>{{::airplane.time}}</td>
                  <td>{{::airplane.airplane}}</td>
                  <td>{{::airplane.flightNo}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-purple">
        <div class="panel-heading" id="production">
          <h3 class="panel-title"><i class="fa fa-tasks"></i>出團資訊及報名</h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="font-kai-inner-16">
                <tr>
                  <th style="min-width: 90px;"> 出發日期 </th>
                  <th style="min-width: 50px;"> 天數 </th>
                  <th> 產品名稱 </th>
                  <th style="min-width: 76px;"> 團費售價 </th>
                  <th style="min-width: 50px;"> 報名 </th>
                  <th style="min-width: 50px;"> 狀態 </th>
                  <th style="min-width: 76px;"> 銷售說明 </th>
                  <th style="min-width: 100px;"> 備註 </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="production in productions">
                  <td> {{::production['出發日期'] | date: 'yyyy-MM-dd'}} </td>
                  <td> {{::production['天數']}} </td>
                  <td> {{::production['產品名稱']}} </td>
                  <td> {{::production['團費售價']}} </td>
                  <td> {{::production['報名']}} </td>
                  <td> {{::production['狀態']}} </td>
                  <td> {{::production['銷售說明']}} </td>
                  <td> {{::production['備註']}} </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ol class="margin-top-20">
            <li class="color-blue">團體旅遊中各團價格、航班及行程內容可能會因不同出發日期而有所變動，請先依您所需的出團日期查詢。</li>
            <li class="color-blue">航空公司於票價中需增收燃油附加費，但因各航空公司徵收的費用不同，以致相同機場之機場稅也會有所差異。</li>
            <li class="color-blue">本站所提供之各項旅遊產品是否需額外加收燃油附加費，請詳閱各項產品之說明。</li>
            <li class="color-blue">請務必詳閱各團的各項說明以確保您的權益。</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
