<div class="modal-header">
  <h3 class="modal-title">行程內容<image-upload class="pull-right"></image-upload>
  </h3>
</div>
<div class="modal-body">
  <div class="row">
    <tabset>
      <tab ng-repeat="detail in data">
        <tab-heading>{{detail.date}}</tab-heading>
        <div style="padding-top: 20px;">
          <div class="col-sm-4">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="title" class="col-sm-2 control-label">日期</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="detail.date" placeholder="日期">
                </div>
              </div>
              <div class="form-group">
                <label for="title" class="col-sm-2 control-label">標題</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="detail.title" placeholder="標題">
                </div>
              </div>
              <div class="form-group">
                <label for="title" class="col-sm-2 control-label">早餐</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="detail.breakfast" placeholder="標題">
                </div>
              </div>
              <div class="form-group">
                <label for="title" class="col-sm-2 control-label">住宿</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="detail.hotel" placeholder="住宿">
                </div>
              </div>
              <div class="form-group">
                <label for="title" class="col-sm-2 control-label">早餐</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="detail.breakfast" placeholder="早餐">
                </div>
              </div>
              <div class="form-group">
                <label for="title" class="col-sm-2 control-label">午餐</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="detail.lunch" placeholder="午餐">
                </div>
              </div>
              <div class="form-group">
                <label for="title" class="col-sm-2 control-label">晚餐</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="detail.dinner" placeholder="晚餐">
                </div>
              </div>
            </form>
            <carousel interval="5000" no-wrap="false" template-url="template/carousel/carousel-no-indicators.html">
              <slide ng-repeat="slide in detail.slides">
                <img class="img-responsive" ng-src="{{slide.src}}">
                <div class="carousel-caption">{{slide.title}}</div>
              </slide>
            </carousel>
          </div>
          <div class="col-sm-8">
            <div class="summernote" bind="detail.context" height="500"></div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
<div class="modal-footer">
<button class="btn btn-primary" type="button" ng-click="save()">存檔</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>
