<div class="modal-header">
  <h3 class="modal-title">行程內容</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="intro-router" class="col-sm-2 control-label">路徑</label>
      <div class="col-sm-10">
        <input class="form-control" ng-model="data.router" id="intro-router" placeholder="路徑">
      </div>
    </div> 
    <div class="form-group">
      <label for="intro-title" class="col-sm-2 control-label">標題</label>
      <div class="col-sm-10">
        <input class="form-control" ng-model="data.title" id="intro-title" placeholder="標題">
      </div>
    </div> 
    <div class="form-group">
      <label for="intro-price" class="col-sm-2 control-label">團費售價</label>
      <div class="col-sm-10">
        <input class="form-control" ng-model="data.price" id="intro-price" placeholder="團費售價">
      </div>
    </div>
    <div class="form-group">
      <label for="intro-location" class="col-sm-2 control-label">旅遊國家</label>
      <div class="col-sm-10">
        <input class="form-control" ng-model="data.location" id="intro-location" placeholder="旅遊國家">
      </div>
    </div>
    <div class="form-group">
      <label for="intro-city" class="col-sm-2 control-label">旅遊城市</label>
      <div class="col-sm-10">
        <input class="form-control" ng-model="data.city" id="intro-city" placeholder="旅遊城市">
      </div>
    </div>
    <div class="form-group">
      <label for="intro-days" class="col-sm-2 control-label">旅遊天數</label>
      <div class="col-sm-10">
        <input class="form-control" ng-model="data.days" id="intro-days" placeholder="旅遊天數">
      </div>
    </div>
    <div class="form-group">
      <label for="intro-airplane" class="col-sm-2 control-label">航空公司</label>
      <div class="col-sm-10">
        <input class="form-control" ng-model="data.airplane" id="intro-airplane" placeholder="航空公司">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save()">存檔</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>
