<div class="breadcrumbs breadcrumbs-light shift-top">
  <div class="container">
    <h1 class="pull-left">編輯投影片</h1>
  </div>
</div>
<section class="container content-lg" style="padding-top: 50px;">
  <div class="row">
    <tabset>
      <tab heading="編輯投影片" active="tabs[1].active">
        <div class="row margin-top-20" ng-if="tabs[1].active">
          <div class="col-sm-5">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-4 control-label">Delay</label>
                <div class="col-sm-8">
                  <input class="form-control" type="number" ng-model="rsOptions.delay" ng-change="rsApi.restart()">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Start Height</label>
                <div class="col-sm-8">
                  <input class="form-control" type="number" ng-model="rsOptions.startheight" ng-change="rsApi.restart()">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Start Width</label>
                <div class="col-sm-8">
                  <input class="form-control" type="number" ng-model="rsOptions.startwidth" ng-change="rsApi.restart()">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">transition</label>
                <div class="col-sm-8">
                  <select class="form-control" ng-model="eslider.transition" ng-change="rsApi.restart()">
                    <option>slideup</option>
                    <option>slidedown</option>
                    <option>slideright</option>
                    <option>slideleft</option>
                    <option>slidehorizontal</option>
                    <option>slidevertical</option>
                    <option>boxslide</option>
                    <option>slotslide-horizontal</option>
                    <option>slotslide-vertical</option>
                    <option>boxfade</option>
                    <option>slotfade-horizontal</option>
                    <option>slotfade-vertical</option>
                    <option>fadefromright</option>
                    <option>fadefromleft</option>
                    <option>fadefromtop</option>
                    <option>fadefrombottom</option>
                    <option>fadetoleftfadefromright</option>
                    <option>fadetorightfadefromleft</option>
                    <option>fadetotopfadefrombottom</option>
                    <option>fadetobottomfadefromtop</option>
                    <option>parallaxtoright</option>
                    <option>parallaxtoleft</option>
                    <option>parallaxtotop</option>
                    <option>parallaxtobottom</option>
                    <option>scaledownfromright</option>
                    <option>scaledownfromleft</option>
                    <option>scaledownfromtop</option>
                    <option>scaledownfrombottom</option>
                    <option>zoomout</option>
                    <option>zoomin</option>
                    <option>slotzoom-horizontal</option>
                    <option>slotzoom-vertical</option>
                    <option>fade</option>
                    <option>random-static</option>
                    <option>random</option>
                    <option>curtain-1</option>
                    <option>curtain-2</option>
                    <option>curtain-3</option>
                    <option>3dcurtain-horizontal</option>
                    <option>3dcurtain-vertical</option>
                    <option>cube</option>
                    <option>cube-horizontal</option>
                    <option>incube</option>
                    <option>incube-horizontal</option>
                    <option>turnoff</option>
                    <option>turnoff-vertical</option>
                    <option>papercut</option>
                    <option>flyin</option>
                    <option>random-premium</option>
                    <option>random</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">slotamount</label>
                <div class="col-sm-8">
                  <input class="form-control" type="number" ng-model="eslider.slotamount" ng-change="rsApi.restart()">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">masterspeed(ms)</label>
                <div class="col-sm-8">
                  <input class="form-control" type="number" ng-model="eslider.masterspeed" ng-change="rsApi.restart()">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">delay</label>
                <div class="col-sm-8">
                  <input class="form-control" type="number" ng-model="eslider.delay" ng-change="rsApi.restart()">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">link</label>
                <div class="col-sm-8">
                  <input class="form-control" ng-model="eslider.link" ng-change="rsApi.restart()">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">target</label>
                <div class="col-sm-8">
                  <select class="form-control" ng-model="eslider.target" ng-change="rsApi.restart()">
                    <option>_blank</option>
                    <option>_self</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">title</label>
                <div class="col-sm-8">
                  <input class="form-control" ng-model="eslider.title" ng-change="rsApi.restart()">
                </div>
              </div>
            </form>
          </div>
          <div class="tp-banner-container col-sm-6">
            <div revolution="rsOptions" class="tp-banner" revolution-api="rsApi">
              <ul>
                <li revolution-slide="eslider" one-slide="true"></li>
              </ul>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="全部投影片" active="tabs[0].active">
        <div class="row margin-top-20" ng-if="tabs[0].active">
          <div class="tp-banner-container col-sm-5" 
              ng-repeat="slider in sliders" ng-class-odd="'col-sm-offset-1'"
              ng-click="select(slider)" style="cursor: pointer;">
            <div revolution="rsOptions" class="tp-banner">
              <ul>
                <li revolution-slide="slider" one-slide="true"></li>
              </ul>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="編輯簡介">
        <div class="summernote" bind="data"></div>
      </tab>
    </tabset>
  </div>
</section>
