<div class="modal-header" style="border-bottom: 0px; padding-bottom: 0px;">
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: tab.index===0}">
      <a href="#" ng-click="selectTab(0)">選擇投影片</a>
    </li>
    <li role="presentation" ng-class="{active: tab.index===($index+1)}" 
        ng-repeat="eslider in editSliders">
      <a href="#" ng-click="selectTab($index+1)">
        {{eslider.title}}
        <i class="fa fa-times"></i>
      </a>
    </li>
    <li role="presentation">
      <a href="#" ng-click="">
        <span class="fa fa-plus"></span>
      </a>
    </li>
  </ul>
</div>
<div class="modal-body">
  <div class="row margin-top-20" ng-if="tab.index===0">
    <div class="col-sm-2" ng-style="height">
      <div class="tp-banner-container margin-top-20" 
          revolution="allRsOptions"
          ng-repeat="slider in sliders" ng-class="{'slide-select': select[$index]}">
        <div class="tp-banner">
          <ul>
            <li revolution-slide="slider" one-slide="true"></li>
          </ul>
        </div>
        <div class="tp-banner-hover">
          <button class="btn-u btn-brd rounded-4x btn-u-red btn-u-sm btn-left" type="button"
              ng-click="editSlider(slider)">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn-u btn-brd rounded-4x btn-u-red btn-u-sm btn-right" type="button"
              ng-click="select[$index]=!select[$index]; selectSlider(slider, select[$index], rsApi)">
            <i class="fa fa-plus"></i>
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 form-horizontal" ng-style="height">
      <!--Global Settings-->
      <div class="form-group">
        <label class="col-sm-6 control-label">Delay</label>
        <div class="col-sm-6">
          <input class="form-control" type="number" ng-model="rsOptions.delay" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Start Height</label>
        <div class="col-sm-6">
          <input class="form-control" type="number" ng-model="rsOptions.startheight" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Start Width</label>
        <div class="col-sm-6">
          <input class="form-control" type="number" ng-model="rsOptions.startwidth" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Keyboard Navigation</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.keyboardNavigation" ng-change="rsApi.restart()">
            <option>on</option>
            <option>off</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">On Hover Stop</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.onHoverStop" ng-change="rsApi.restart()">
            <option>on</option>
            <option>off</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">thumbWidth</label>
        <div class="col-sm-6">
          <input class="form-control" ng-model="rsOptions.thumbWidth" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">thumbWidth</label>
        <div class="col-sm-6">
          <input class="form-control" type="number" ng-model="rsOptions.thumbWidth" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">thumbHeight</label>
        <div class="col-sm-6">
          <input class="form-control" type="number" ng-model="rsOptions.thumbHeight" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">thumbAmount</label>
        <div class="col-sm-6">
          <input class="form-control" type="number" ng-model="rsOptions.thumbAmount" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">hideThumbs(ms)</label>
        <div class="col-sm-6">
          <input class="form-control" type="number" ng-model="rsOptions.hideThumbs" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">navigationType</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.navigationType" ng-change="rsApi.restart()">
            <option>bullet</option>
            <option>thumb</option>
            <option>none</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">navigationArrows</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.navigationArrows" ng-change="rsApi.restart()">
            <option>nexttobullets</option>
            <option>solo</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-show="rsOptions.navigationType==='bullet'">
        <label class="col-sm-6 control-label">navigationStyle</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.navigationStyle" ng-change="rsApi.restart()">
            <option>preview1</option>
            <option>preview2</option>
            <option>preview3</option>
            <option>preview4</option>
            <option>round</option>
            <option>square</option>
            <option>round-old</option>
            <option>square-old</option>
            <option>navbar-old</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">navigationHAlign</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.navigationHAlign" ng-change="rsApi.restart()">
            <option>left</option>
            <option>center</option>
            <option>right</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">navigationVAlign</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.navigationVAlign" ng-change="rsApi.restart()">
            <option>top</option>
            <option>center</option>
            <option>bottom</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">navigationHOffset</label>
        <div class="col-sm-6">
          <input type="number" max="1000" min="-1000" class="form-control" ng-model="rsOptions.navigationHOffset" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">navigationVOffset</label>
        <div class="col-sm-6">
          <input type="number" max="1000" min="-1000" class="form-control" ng-model="rsOptions.navigationVOffset" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">soloArrowLeftHaling</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.soloArrowLeftHaling" ng-change="rsApi.restart()">
            <option>left</option>
            <option>center</option>
            <option>right</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">soloArrowRightHalign</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.soloArrowRightHalign" ng-change="rsApi.restart()">
            <option>left</option>
            <option>center</option>
            <option>right</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">soloArrowLeftHalign</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.soloArrowLeftHalign" ng-change="rsApi.restart()">
            <option>top</option>
            <option>center</option>
            <option>bottom</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">soloArrowLeftValign</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.soloArrowLeftValign" ng-change="rsApi.restart()">
            <option>top</option>
            <option>center</option>
            <option>bottom</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">soloArrowRightValign</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.soloArrowRightValign" ng-change="rsApi.restart()">
            <option>top</option>
            <option>center</option>
            <option>bottom</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">soloArrowLeftHOffset</label>
        <div class="col-sm-6">
          <input type="number" max="1000" min="-1000" class="form-control" ng-model="rsOptions.soloArrowLeftHOffset" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">soloArrowRightHOffset</label>
        <div class="col-sm-6">
          <input type="number" max="1000" min="-1000" class="form-control" ng-model="rsOptions.soloArrowRightHOffset" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">soloArrowLeftVOffset</label>
        <div class="col-sm-6">
          <input type="number" max="1000" min="-1000" class="form-control" ng-model="rsOptions.soloArrowLeftVOffset" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">soloArrowRightVOffset</label>
        <div class="col-sm-6">
          <input type="number" max="1000" min="-1000" class="form-control" ng-model="rsOptions.soloArrowRightVOffset" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">touchenabled</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.touchenabled" ng-change="rsApi.restart()">
            <option>on</option>
            <option>off</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">swipe_velocity</label>
        <div class="col-sm-6">
          <input type="number" max="1" min="0" step="0.01" class="form-control" ng-model="rsOptions.swipe_velocity" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">swipe_max_touches</label>
        <div class="col-sm-6">
          <input type="number" max="5" min="1" class="form-control" ng-model="rsOptions.swipe_max_touches " ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">swipe_min_touches</label>
        <div class="col-sm-6">
          <input type="number" max="5" min="1" class="form-control" ng-model="rsOptions.swipe_min_touches " ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">drag_block_vertical</label>
        <div class="col-sm-6">
          <input type="checkbox" style="height: 20px;" class="form-control" ng-model="rsOptions.drag_block_vertical" ng-change="rsApi.restart()">
        </div>
      </div>
      <!--Loops Settings-->
      <div class="form-group">
        <label class="col-sm-6 control-label">startWithSlide</label>
        <div class="col-sm-6">
          <input class="form-control" min="0" type="number" ng-model="rsOptions.startWithSlide" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">stopAtSlide</label>
        <div class="col-sm-6">
          <input class="form-control" min="-1" type="number" ng-model="rsOptions.stopAtSlide" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">stopAfterLoops</label>
        <div class="col-sm-6">
          <input class="form-control" min="-1" type="number" ng-model="rsOptions.stopAfterLoops" ng-change="rsApi.restart()">
        </div>
      </div>
      <!--Mobile Visibility-->
      <div class="form-group">
        <label class="col-sm-6 control-label">hideCaptionAtLimit</label>
        <div class="col-sm-6">
          <input class="form-control" min="0" type="number" ng-model="rsOptions.hideCaptionAtLimit" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">hideAllCaptionAtLimit</label>
        <div class="col-sm-6">
          <input class="form-control" min="0" type="number" ng-model="rsOptions.hideAllCaptionAtLimit" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">hideSliderAtLimit</label>
        <div class="col-sm-6">
          <input class="form-control" min="0" type="number" ng-model="rsOptions.hideSliderAtLimit" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label"> hideNavDelayOnMobile</label>
        <div class="col-sm-6">
          <input class="form-control" min="0" type="number" ng-model="rsOptions.hideNavDelayOnMobile" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">hideThumbsOnMobile</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.hideThumbsOnMobile" ng-change="rsApi.restart()">
            <option>on</option>
            <option>off</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">hideBulletsOnMobile</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.hideThumbsOnMobile" ng-change="rsApi.restart()">
            <option>on</option>
            <option>off</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">hideArrowsOnMobile</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.hideArrowsOnMobile" ng-change="rsApi.restart()">
            <option>on</option>
            <option>off</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-show="rsOptions.hideThumbsOnMobile==='off'">
        <label class="col-sm-6 control-label">hideThumbsUnderResoluition</label>
        <div class="col-sm-6">
          <input class="form-control" min="0" max="1900" type="number" 
              ng-model="rsOptions.hideThumbsUnderResoluition" ng-change="rsApi.restart()">
        </div>
      </div>
      <!--Layout Styles-->
      <div class="form-group">
        <label class="col-sm-6 control-label">spinner</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.spinner" ng-change="rsApi.restart()">
            <option>spinner1</option>
            <option>spinner2</option>
            <option>spinner3</option>
            <option>spinner4</option>
            <option>spinner5</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">hideTimerBar</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.hideTimerBar" ng-change="rsApi.restart()">
            <option>on</option>
            <option>off</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">timerBarPosition</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.timerBarPosition" ng-change="rsApi.restart()">
            <option>top</option>
            <option>bottom</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">fullWidth</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.fullWidth" ng-change="rsApi.restart()">
            <option>on</option>
            <option>off</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">autoHeight</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.autoHeight" ng-change="rsApi.restart()">
            <option>on</option>
            <option>off</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">fullScreenAlignForce</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.fullScreenAlignForce" ng-change="rsApi.restart()">
            <option>on</option>
            <option>off</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">forceFullWidth</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.forceFullWidth" ng-change="rsApi.restart()">
            <option>on</option>
            <option>off</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">fullScreen</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.fullScreen" ng-change="rsApi.restart()">
            <option>on</option>
            <option>off</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">fullScreenOffsetContainer</label>
        <div class="col-sm-6">
          <input class="form-control" ng-model="rsOptions.fullScreenOffsetContainer" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">shadow</label>
        <div class="col-sm-6">
          <input class="form-control" type="number" min="0" max="3" step="1" ng-model="rsOptions.shadow" ng-change="rsApi.restart()">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">dottedOverlay</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.dottedOverlay" ng-change="rsApi.restart()">
            <option>none</option>
            <option>twoxtwo</option>
            <option>threexthree</option>
            <option>twoxtwowhite</option>
            <option>threexthreewhite</option>
          </select>
        </div>
      </div>
      <!--Parallax Settings-->
      <div class="form-group">
        <label class="col-sm-6 control-label">parallax</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.parallax" ng-change="rsApi.restart()">
            <option>mouse</option>
            <option>scroll</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">parallaxBgFreeze</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.parallaxBgFreeze" ng-change="rsApi.restart()">
            <option>on</option>
            <option>off</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">parallaxLevels</label>
        <div class="col-sm-6">
          <select class="form-control" ng-model="rsOptions.parallax" ng-change="rsApi.restart()">
            <option>none</option>
            <option>twoxtwo</option>
            <option>threexthree</option>
            <option>twoxtwowhite</option>
            <option>threexthreewhite</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div revolution="rsOptions" class="tp-banner-container margin-top-20" revolution-api="rsApi">
        <div class="tp-banner">
          <ul>
            <li revolution-slide="slider" ng-repeat="slider in currentSliders"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-top-20" ng-repeat="eslider in editSliders">
    <div ng-if="tab.index===($index+1)">
      <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked">
          <li class="{{nav[0]}}"><a href="" ng-click="navClick(0)">Slide Options</a></li>
          <li class="{{nav[1]}}"><a href="" ng-click="navClick(1)">Main Image</a></li>
          <li class="{{nav[$index+2]}}" ng-repeat="elem in eslider.elems | filter:{tag:'div'} ">
            <a href="" ng-click="navClick($index+2)">Text<i class="fa fa-trash pull-right" ng-click="removeText(eslider, $index, rsApi, $event)"></i></a>
          </li>
          <li><a href="" ng-click="addText(eslider)"><span class="fa fa-plus"> Add Text </span></a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <form class="form-horizontal">
          <!--Slide Options-->
          <div ng-if="nav[0]">
            <div class="form-group">
              <label class="col-sm-5 control-label">title</label>
              <div class="col-sm-7">
                <input class="form-control" ng-model="eslider.title" ng-change="rsApi.restart()" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">transition</label>
              <div class="col-sm-7">
                <select class="form-control" ng-model="eslider.transition" ng-change="rsApi.restart()">
                  <option>slideup</option>
                  <option>slidedown</option>
                  <option>slideright</option>
                  <option>slideleft</option>
                  <option>slidehorizontal</option>
                  <option>slidevertical</option>
                  <option>boxslide</option>
                  <option>slotslide-horizontal</option>
                  <option>slotslide-vertical</option>
                  <option>boxfade</option>
                  <option>slotfade-horizontal</option>
                  <option>slotfade-vertical</option>
                  <option>fadefromright</option>
                  <option>fadefromleft</option>
                  <option>fadefromtop</option>
                  <option>fadefrombottom</option>
                  <option>fadetoleftfadefromright</option>
                  <option>fadetorightfadefromleft</option>
                  <option>fadetotopfadefrombottom</option>
                  <option>fadetobottomfadefromtop</option>
                  <option>parallaxtoright</option>
                  <option>parallaxtoleft</option>
                  <option>parallaxtotop</option>
                  <option>parallaxtobottom</option>
                  <option>scaledownfromright</option>
                  <option>scaledownfromleft</option>
                  <option>scaledownfromtop</option>
                  <option>scaledownfrombottom</option>
                  <option>zoomout</option>
                  <option>zoomin</option>
                  <option>slotzoom-horizontal</option>
                  <option>slotzoom-vertical</option>
                  <option>fade</option>
                  <option>random-static</option>
                  <option>random</option>
                  <option>curtain-1</option>
                  <option>curtain-2</option>
                  <option>curtain-3</option>
                  <option>3dcurtain-horizontal</option>
                  <option>3dcurtain-vertical</option>
                  <option>cube</option>
                  <option>cube-horizontal</option>
                  <option>incube</option>
                  <option>incube-horizontal</option>
                  <option>turnoff</option>
                  <option>turnoff-vertical</option>
                  <option>papercut</option>
                  <option>flyin</option>
                  <option>random-premium</option>
                  <option>random</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">slotamount</label>
              <div class="col-sm-7">
                <input class="form-control" type="number" ng-model="eslider.slotamount" ng-change="rsApi.restart()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">masterspeed(ms)</label>
              <div class="col-sm-7">
                <input class="form-control" type="number" ng-model="eslider.masterspeed" ng-change="rsApi.restart()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">delay</label>
              <div class="col-sm-7">
                <input class="form-control" type="number" ng-model="eslider.delay" ng-change="rsApi.restart()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">link</label>
              <div class="col-sm-7">
                <input class="form-control" ng-model="eslider.link" ng-change="rsApi.restart()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">target</label>
              <div class="col-sm-7">
                <select class="form-control" ng-model="eslider.target" ng-change="rsApi.restart()">
                  <option>_blank</option>
                  <option>_self</option>
                </select>
              </div>
            </div>
          </div>
          <!--Main Image-->
          <div ng-if="nav[1]">
            <div class="form-group">
              <label class="col-sm-5 control-label">src</label>
              <div class="col-sm-7">
                <div image-upload="select" insert="eslider.elems[0].src" post-insert="rsApi.restart()"></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">lazyload</label>
              <div class="col-sm-7">
                <input class="form-control" ng-model="eslider.elems[0].lazyload" ng-change="rsApi.restart()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">bgrepeat</label>
              <div class="col-sm-7">
                <select class="form-control" ng-model="eslider.elems[0].bgrepeat" ng-change="rsApi.restart()">
                  <option>no-repeat</option>
                  <option>repeat</option>
                  <option>repeat-x</option>
                  <option>repeat-y</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">bgfit</label>
              <div class="col-sm-7">
                <input class="form-control" ng-model="eslider.elems[0].bgfit" ng-change="rsApi.restart()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">bgfitend</label>
              <div class="col-sm-7">
                <input type="number" class="form-control" ng-model="eslider.elems[0].bgfitend" ng-change="rsApi.restart()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">bgposition</label>
              <div class="col-sm-7">
                <select class="form-control" ng-model="eslider.elems[0].bgposition" ng-change="rsApi.restart()">
                  <option>left top</option>
                  <option>left center</option>
                  <option>left bottom</option>
                  <option>center top</option>
                  <option>center center</option>
                  <option>center bottom</option>
                  <option>right top</option>
                  <option>right center</option>
                  <option>right bottom</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">bgpositionend</label>
              <div class="col-sm-7">
                <select class="form-control" ng-model="eslider.elems[0].bgpositionend" ng-change="rsApi.restart()">
                  <option>left top</option>
                  <option>left center</option>
                  <option>left bottom</option>
                  <option>center top</option>
                  <option>center center</option>
                  <option>center bottom</option>
                  <option>right top</option>
                  <option>right center</option>
                  <option>right bottom</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">kenburns</label>
              <div class="col-sm-7">
                <select class="form-control" ng-model="eslider.elems[0].kenburns" ng-change="rsApi.restart()">
                  <option>on</option>
                  <option>off</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">duration</label>
              <div class="col-sm-7">
                <input type="number" class="form-control" ng-model="eslider.elems[0].duration" ng-change="rsApi.restart()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">ease</label>
              <div class="col-sm-7">
                <select class="form-control" ng-model="eslider.elems[0].ease" ng-change="rsApi.restart()">
                  <option>Linear.easeNone</option>
                  <option>Power0.easeIn</option>
                  <option>Power0.easeInOut</option>
                  <option>Power0.easeOut</option>
                  <option>Power1.easeIn</option>
                  <option>Power1.easeInOut</option>
                  <option>Power1.easeOut</option>
                  <option>Power2.easeIn</option>
                  <option>Power2.easeInOut</option>
                  <option>Power2.easeOut</option>
                  <option>Power3.easeIn</option>
                  <option>Power3.easeInOut</option>
                  <option>Power3.easeOut</option>
                  <option>Power4.easeIn</option>
                  <option>Power4.easeInOut</option>
                  <option>Power4.easeOut</option>
                  <option>Quad.easeIn</option>
                  <option>Quad.easeInOut</option>
                  <option>Quad.easeOut</option>
                  <option>Cubic.easeIn</option>
                  <option>Cubic.easeInOut</option>
                  <option>Cubic.easeOut</option>
                  <option>Quart.easeIn</option>
                  <option>Quart.easeInOut</option>
                  <option>Quart.easeOut</option>
                  <option>Quint.easeIn</option>
                  <option>Quint.easeInOut</option>
                  <option>Quint.easeOut</option>
                  <option>Strong.easeIn</option>
                  <option>Strong.easeInOut</option>
                  <option>Strong.easeOut</option>
                  <option>Back.easeIn</option>
                  <option>Back.easeInOut</option>
                  <option>Back.easeOut</option>
                  <option>Bounce.easeIn</option>
                  <option>Bounce.easeInOut</option>
                  <option>Bounce.easeOut</option>
                  <option>Circ.easeIn</option>
                  <option>Circ.easeInOut</option>
                  <option>Circ.easeOut</option>
                  <option>Elastic.easeIn</option>
                  <option>Elastic.easeInOut</option>
                  <option>Elastic.easeOut</option>
                  <option>Expo.easeIn</option>
                  <option>Expo.easeInOut</option>
                  <option>Expo.easeOut</option>
                  <option>Sine.easeIn</option>
                  <option>Sine.easeInOut</option>
                  <option>Sine.easeOut</option>
                  <option>SlowMo.ease</option>
                  <option>easeOutBack</option>
                  <option>easeInQuad</option>
                  <option>easeOutQuad</option>
                  <option>easeInOutQuad</option>
                  <option>easeInCubic</option>
                  <option>easeOutCubic</option>
                  <option>easeInOutCubic</option>
                  <option>easeInQuart</option>
                  <option>easeOutQuart</option>
                  <option>easeInOutQuart</option>
                  <option>easeInQuint</option>
                  <option>easeOutQuint</option>
                  <option>easeInOutQuint</option>
                  <option>easeInSine</option>
                  <option>easeOutSine</option>
                  <option>easeInOutSine</option>
                  <option>easeInExpo</option>
                  <option>easeOutExpo</option>
                  <option>easeInOutExpo</option>
                  <option>easeInCirc</option>
                  <option>easeOutCirc</option>
                  <option>easeInOutCirc</option>
                  <option>easeInElastic</option>
                  <option>easeOutElastic</option>
                  <option>easeInOutElastic</option>
                  <option>easeInBack</option>
                  <option>easeOutBack</option>
                  <option>easeInOutBack</option>
                  <option>easeInBounce</option>
                  <option>easeOutBounce</option>
                  <option>easeInOutBounce</option>
                </select>
              </div>
            </div>
          </div>
          <!--Text-->
          <div ng-repeat="elem in eslider.elems | filter:{tag:'div'} " ng-if="nav[$index+2]">
            <div class="form-group">
              <label class="col-sm-5 control-label">Incoming Animation</label>
              <div class="col-sm-7">
                <select class="form-control" ng-model="elem._iac" ng-change="rsApi.restart()">
                  <option>sft</option>
                  <option>sfb</option>
                  <option>sfr</option>
                  <option>sfl</option>
                  <option>lft</option>
                  <option>lfb</option>
                  <option>lfr</option>
                  <option>lfl</option>
                  <option>skewfromleft</option>
                  <option>skewfromright</option>
                  <option>skewfromleftshort</option>
                  <option>skewfromrightshort</option>
                  <option>fade</option>
                  <option>randomrotate</option>
                  <option>customin</option>
                </select>
              </div>
            </div>
            <div class="form-group" ng-if="elem._iac==='customin'">
              <label class="col-sm-5 control-label">Custom Incoming</label>
              <div class="col-sm-7">
                <input class="form-control" ng-model="elem.customin" 
                    ng-change="rsApi.restart()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">Outgoing Animation</label>
              <div class="col-sm-7">
                <select class="form-control" ng-model="elem._oac" ng-change="rsApi.restart()">
                  <option>stt</option>
                  <option>stb</option>
                  <option>str</option>
                  <option>stl</option>
                  <option>ltt</option>
                  <option>ltb</option>
                  <option>ltr</option>
                  <option>ltl</option>
                  <option>skewtoleft</option>
                  <option>skewtoright</option>
                  <option>skewtoleftshort</option>
                  <option>skewtorightshort</option>
                  <option>fadeout</option>
                  <option>randomrotateout</option>
                  <option>customout</option>
                </select>
              </div>
            </div>
            <div class="form-group" ng-if="elem._oac==='customout'">
              <label class="col-sm-5 control-label">Custom Outgoing</label>
              <div class="col-sm-7">
                <input class="form-control" ng-model="elem.customout" ng-change="rsApi.restart()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">x</label>
              <div class="col-sm-7">
                <input class="form-control" ng-model="elem.x" 
                    ng-change="rsApi.restart()" rv-position="x">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">y</label>
              <div class="col-sm-7">
                <input class="form-control" ng-model="elem.y" 
                    ng-change="rsApi.restart()" rv-position="y">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">hoffset</label>
              <div class="col-sm-7">
                <input class="form-control" ng-model="elem.hoffset" 
                    ng-change="rsApi.restart()" rv-position="x">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">voffset</label>
              <div class="col-sm-7">
                <input class="form-control" ng-model="elem.voffset"
                    ng-change="rsApi.restart()" rv-position="y">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">speed</label>
              <div class="col-sm-7">
                <input class="form-control" ng-model="elem.speed" ng-change="rsApi.restart()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">splitin</label>
              <div class="col-sm-7">
                <select class="form-control" ng-model="elem.splitin" ng-change="rsApi.restart()">
                  <option>words</option>
                  <option>chars</option>
                  <option>lines</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">elementdelay</label>
              <div class="col-sm-7">
                <input class="form-control" type="number" 
                    min="0" max="1" step="0.01"
                    ng-model="elem.elementdelay" ng-change="rsApi.restart()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">splitout</label>
              <div class="col-sm-7">
                <select class="form-control" ng-model="elem.splitout" ng-change="rsApi.restart()">
                  <option>words</option>
                  <option>chars</option>
                  <option>lines</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">endelementdelay</label>
              <div class="col-sm-7">
                <input class="form-control" type="number" 
                    min="0" max="1" step="0.01"
                    ng-model="elem.endelementdelay" ng-change="rsApi.restart()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">start(ms)</label>
              <div class="col-sm-7">
                <input class="form-control" type="number" 
                    ng-model="elem.start" ng-change="rsApi.restart()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">easing</label>
              <div class="col-sm-7">
                <select class="form-control" ng-model="elem.easing" ng-change="rsApi.restart()">
                  <option>Linear.easeNone</option>
                  <option>Power0.easeIn</option>
                  <option>Power0.easeInOut</option>
                  <option>Power0.easeOut</option>
                  <option>Power1.easeIn</option>
                  <option>Power1.easeInOut</option>
                  <option>Power1.easeOut</option>
                  <option>Power2.easeIn</option>
                  <option>Power2.easeInOut</option>
                  <option>Power2.easeOut</option>
                  <option>Power3.easeIn</option>
                  <option>Power3.easeInOut</option>
                  <option>Power3.easeOut</option>
                  <option>Power4.easeIn</option>
                  <option>Power4.easeInOut</option>
                  <option>Power4.easeOut</option>
                  <option>Quad.easeIn</option>
                  <option>Quad.easeInOut</option>
                  <option>Quad.easeOut</option>
                  <option>Cubic.easeIn</option>
                  <option>Cubic.easeInOut</option>
                  <option>Cubic.easeOut</option>
                  <option>Quart.easeIn</option>
                  <option>Quart.easeInOut</option>
                  <option>Quart.easeOut</option>
                  <option>Quint.easeIn</option>
                  <option>Quint.easeInOut</option>
                  <option>Quint.easeOut</option>
                  <option>Strong.easeIn</option>
                  <option>Strong.easeInOut</option>
                  <option>Strong.easeOut</option>
                  <option>Back.easeIn</option>
                  <option>Back.easeInOut</option>
                  <option>Back.easeOut</option>
                  <option>Bounce.easeIn</option>
                  <option>Bounce.easeInOut</option>
                  <option>Bounce.easeOut</option>
                  <option>Circ.easeIn</option>
                  <option>Circ.easeInOut</option>
                  <option>Circ.easeOut</option>
                  <option>Elastic.easeIn</option>
                  <option>Elastic.easeInOut</option>
                  <option>Elastic.easeOut</option>
                  <option>Expo.easeIn</option>
                  <option>Expo.easeInOut</option>
                  <option>Expo.easeOut</option>
                  <option>Sine.easeIn</option>
                  <option>Sine.easeInOut</option>
                  <option>Sine.easeOut</option>
                  <option>SlowMo.ease</option>
                  <option>easeOutBack</option>
                  <option>easeInQuad</option>
                  <option>easeOutQuad</option>
                  <option>easeInOutQuad</option>
                  <option>easeInCubic</option>
                  <option>easeOutCubic</option>
                  <option>easeInOutCubic</option>
                  <option>easeInQuart</option>
                  <option>easeOutQuart</option>
                  <option>easeInOutQuart</option>
                  <option>easeInQuint</option>
                  <option>easeOutQuint</option>
                  <option>easeInOutQuint</option>
                  <option>easeInSine</option>
                  <option>easeOutSine</option>
                  <option>easeInOutSine</option>
                  <option>easeInExpo</option>
                  <option>easeOutExpo</option>
                  <option>easeInOutExpo</option>
                  <option>easeInCirc</option>
                  <option>easeOutCirc</option>
                  <option>easeInOutCirc</option>
                  <option>easeInElastic</option>
                  <option>easeOutElastic</option>
                  <option>easeInOutElastic</option>
                  <option>easeInBack</option>
                  <option>easeOutBack</option>
                  <option>easeInOutBack</option>
                  <option>easeInBounce</option>
                  <option>easeOutBounce</option>
                  <option>easeInOutBounce</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">endspeed(ms)</label>
              <div class="col-sm-7">
                <input class="form-control" type="number" 
                    ng-model="elem.endspeed" ng-change="rsApi.restart()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">end(ms)</label>
              <div class="col-sm-7">
                <input class="form-control" type="number" 
                    ng-model="elem.end" ng-change="rsApi.restart()">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">endeasing</label>
              <div class="col-sm-7">
                <select class="form-control" ng-model="elem.endeasing" ng-change="rsApi.restart()">
                  <option>Linear.easeNone</option>
                  <option>Power0.easeIn</option>
                  <option>Power0.easeInOut</option>
                  <option>Power0.easeOut</option>
                  <option>Power1.easeIn</option>
                  <option>Power1.easeInOut</option>
                  <option>Power1.easeOut</option>
                  <option>Power2.easeIn</option>
                  <option>Power2.easeInOut</option>
                  <option>Power2.easeOut</option>
                  <option>Power3.easeIn</option>
                  <option>Power3.easeInOut</option>
                  <option>Power3.easeOut</option>
                  <option>Power4.easeIn</option>
                  <option>Power4.easeInOut</option>
                  <option>Power4.easeOut</option>
                  <option>Quad.easeIn</option>
                  <option>Quad.easeInOut</option>
                  <option>Quad.easeOut</option>
                  <option>Cubic.easeIn</option>
                  <option>Cubic.easeInOut</option>
                  <option>Cubic.easeOut</option>
                  <option>Quart.easeIn</option>
                  <option>Quart.easeInOut</option>
                  <option>Quart.easeOut</option>
                  <option>Quint.easeIn</option>
                  <option>Quint.easeInOut</option>
                  <option>Quint.easeOut</option>
                  <option>Strong.easeIn</option>
                  <option>Strong.easeInOut</option>
                  <option>Strong.easeOut</option>
                  <option>Back.easeIn</option>
                  <option>Back.easeInOut</option>
                  <option>Back.easeOut</option>
                  <option>Bounce.easeIn</option>
                  <option>Bounce.easeInOut</option>
                  <option>Bounce.easeOut</option>
                  <option>Circ.easeIn</option>
                  <option>Circ.easeInOut</option>
                  <option>Circ.easeOut</option>
                  <option>Elastic.easeIn</option>
                  <option>Elastic.easeInOut</option>
                  <option>Elastic.easeOut</option>
                  <option>Expo.easeIn</option>
                  <option>Expo.easeInOut</option>
                  <option>Expo.easeOut</option>
                  <option>Sine.easeIn</option>
                  <option>Sine.easeInOut</option>
                  <option>Sine.easeOut</option>
                  <option>SlowMo.ease</option>
                  <option>easeOutBack</option>
                  <option>easeInQuad</option>
                  <option>easeOutQuad</option>
                  <option>easeInOutQuad</option>
                  <option>easeInCubic</option>
                  <option>easeOutCubic</option>
                  <option>easeInOutCubic</option>
                  <option>easeInQuart</option>
                  <option>easeOutQuart</option>
                  <option>easeInOutQuart</option>
                  <option>easeInQuint</option>
                  <option>easeOutQuint</option>
                  <option>easeInOutQuint</option>
                  <option>easeInSine</option>
                  <option>easeOutSine</option>
                  <option>easeInOutSine</option>
                  <option>easeInExpo</option>
                  <option>easeOutExpo</option>
                  <option>easeInOutExpo</option>
                  <option>easeInCirc</option>
                  <option>easeOutCirc</option>
                  <option>easeInOutCirc</option>
                  <option>easeInElastic</option>
                  <option>easeOutElastic</option>
                  <option>easeInOutElastic</option>
                  <option>easeInBack</option>
                  <option>easeOutBack</option>
                  <option>easeInOutBack</option>
                  <option>easeInBounce</option>
                  <option>easeOutBounce</option>
                  <option>easeInOutBounce</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div revolution="allRsOptions" revolution-api="rsApi" class="tp-banner-container col-sm-6">
        <div class="tp-banner">
          <ul>
            <li revolution-slide="eslider" one-slide="true"></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-success" ng-click="saveSlider(eslider)">
          <i class="fa fa-floppy-o"></i>
        </button>
      </div>
      <div class="col-sm-6 margin-top-20 summernote-slider" 
          ng-repeat="elem in eslider.elems | filter:{tag:'div'} " 
          ng-if="nav[$index+2]">
        <div summernote="summernoteOptions" 
            bind="elem.html" post-change="rsApi.restart()"
            non-trust height="200"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save()">存檔</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>
