
editor {
  cursor: pointer;
}

form[name$=createForm] {
  &.ng-dirty input.ng-invalid {
    border: 2px solid red;
  }
  input ~ p {
    display: none;
  }
  @each $name in unique, required {
    &.ng-dirty input.ng-invalid-#{$name} ~ p.invalid-#{$name} {
      display: block;
    }
  }
}

.form-control.ng-invalid {
  border-width: 1px;
  border-color: red;
}

.summernote-slider .note-editor .note-editing-area .note-editable {
  background-color: #555;
}

.tp-banner-container {
  & .fa-minus {
    display: none;
  }
  & .fa-plus {
    display: inline-block;
  }
  &.slide-select {
    border: #FF9898 4px solid;
    & .fa-minus {
      display: inline-block;
    }
    & .fa-plus {
      display: none;
    }
  }
}

.tp-banner-container:hover .tp-banner-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 200;
  background-color: rgba(0,0,0,0.5);
  & .btn-u {
    display: block;
    position: absolute;
    top: 33%;
    &.btn-left {
      left: 25%;
    }
    &.btn-right {
      right: 25%;
    }
    border-color: #fff;
    color: #fff;
  }
}

.tp-banner-hover button {
  display: none;
}

.slider-close {
  margin-left: 5px;
  cursor: pointer;
  opacity: .2;
}
.slider-close:hover {
  opacity: .5;
}
