<div class="modal-header">
  <h3 class="modal-title">上傳照片</h3>
</div>
<div class="modal-body upload-image">
  <div class="row" style="padding: 0 15px;">
    <div class="col-sm-3">
      <form class="form-horizontal" name="imageForm" role="form">
        <div class="form-group">
          <label for="album">相簿</label>
          <input type="text" class="form-control" id="album"
              ng-pattern="/^[a-zA-Z0-9_.-]{1,}$/"
              placeholder="請使用英文相簿名 eg. NewZealand" ng-model="album"
              required>
        </div>
        <div class="form-group" ng-repeat="picFile in picFiles">
          <label for="filename">檔名</label>
          <input type="text" class="form-control" id="filename" 
              ng-pattern="/^[a-zA-Z0-9_.-]{1,}$/"
              placeholder="eg. 000001.jpg" ng-model="picFile.filename"
              required>
          <img class="img-responsive" 
              style="margin: 5px 0;"
              ng-show="imageForm.file.$valid" 
              ngf-thumbnail="picFile"> 
          <span class="progress" ng-show="picFile.progress >= 0">
            <div style="width:{{picFile.progress}}%" 
                ng-bind="picFile.progress + '%'"></div>
          </span>
          <span ng-show="picFile.result">上傳成功</span>
          <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </div>
        <button type="button" class="btn-u btn-u-aqua btn-file">
          <i class="fa fa-cloud-upload"></i>
          請選擇檔案 <input type="file" ngf-select ng-model="picFiles" name="file"    
               accept="image/*" ngf-max-size="2MB" required multiple>
        </button>
        <button ng-click="remove()" ng-show="picFiles.length" class="btn btn-danger">
          <i class="fa fa-trash"></i>
        </button>
        <button type="submit" class="btn btn-primary"
            ng-disabled="imageForm.$invalid"
            ng-click="uploadPic()">上傳</button>
        <i ng-show="imageForm.file.$error.required">*required</i>
        <i ng-show="imageForm.file.$error.maxSize">File too large 
            {{picFile.size / 1000000|number:1}}MB: max 2M</i>
      </form>
    </div>
    <div class="col-sm-9">
      <div owl-carousel="ocOptions" class="owl-carousel owl-carousel-them">
        <div class="item" ng-repeat="alb in albums" owl-carousel-item>
          <a href="" ng-click="showAlbumPhotos(alb.album)">
            <img ng-src="api/images/{{alb.coverSrc}}" alt="">
            <div class="carousel-caption"><span ng-bind="alb.album"></span></div>
          </a>
        </div>
      </div>
      <div class="table-responsive" ng-if="photos.length">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th style="width: 120px;">Image</th>
              <th style="width: 400px;">Image Url</th>
              <th>Last Modify</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="photo in photos">
              <td>
                <img width="100" ng-src="/api/images/{{ photo.src }}">
              </td>
              <td>/api/images/{{ photo.src }}</td>
              <td>{{ photo.ts | date: 'yyyy/MM/dd HH:mm:ss' : '+0800' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="leave()">離開</button>
</div>
